QWidget {
	font-family: Tahoma, Microsoft Sans Serif, Arial, Verdana;
}

#JoinButton {
	min-height: 17px;
	max-width: none;
	min-width: 67px;
	border-image: url(%theme%/buttons/normal_playing_listview_button.png);
	margin: 0px;
	padding: 0px;
}

#InfoButton {
	min-height: 17px;
	max-width: none;
	min-width: 67px;
	border-image: url(%theme%/buttons/normal_playing_listview_button.png);
	margin: 0px;
	padding: 0px;
}

#JoinButton:hover {
	border-image: url(%theme%/buttons/hover_playing_listview_button.png);
}

#JoinButton:pressed {
	border-image: url(%theme%/buttons/pressed_playing_listview_button.png);
}

#JoinButton:disabled {
	border-image: url(%theme%/buttons/disabled_playing_listview_button.png);
	color: black;
}

#InfoButton {
	min-width: none;
	border-image: url(%theme%/buttons/normal_empty_listview_button.png);
}

#InfoButton:hover {
	border-image: url(%theme%/buttons/hover_empty_listview_button.png);
}

#InfoButton:pressed {
	border-image: url(%theme%/buttons/pressed_playing_listview_button.png);
}