QWidget {
	font-family: Tahoma, Microsoft Sans Serif, Arial, Verdana;
}

#JoinButton,
#InfoButton {
	min-height: 17px;
	max-width: none;
	min-width: 67px;
	border-image: url(%theme%/buttons/normal_join_listview_button.png);
	margin: 0px;
	padding: 0px;
}


#JoinButton:hover {
	color: white;
	border-image: url(%theme%/buttons/hover_join_listview_button.png);
}

#JoinButton:pressed {
	text-decoration: underline;
}

#JoinButton:disabled {
	border-image: url(%theme%/buttons/disabled_join_listview_button.png);
	color: black;
	background: transparent;
}

#InfoButton {
	min-width: none;
	border-image: url(%theme%/buttons/normal_info_listview_button.png);
}

#InfoButton:hover {
	color: white;
	border-image: url(%theme%/buttons/hover_info_listview_button.png);
}

#InfoButton:pressed {
	text-decoration: underline;
}