QWidget
{
	font-family: Tahoma, Microsoft Sans Serif, Arial, Verdana;
}

#JoinButton, #InfoButton
{
	min-height: 17px;
	max-width: none;
	min-width: 67px;

	border-image: url(%theme%/buttons/normal_playing_listview_button.png);

	border-top: 1px solid #1796df;
	border-left: 1px solid #1796df;
	border-right: 1px solid rgb(50,50,50);
	border-bottom: 1px solid rgb(50,50,50);
	
	background-color: transparent;


	color: black;

	margin: 0px;
	padding: 0px;
}

#JoinButton:hover
{
	border-image: url(%theme%/buttons/hover_playing_listview_button.png);
}
#JoinButton:pressed
{
	border-image: url(%theme%/buttons/pressed_playing_listview_button.png);
}
#JoinButton:disabled
{
	border-image: url(%theme%/buttons/disabled_playing_listview_button.png);
	color: #072152;
}

#InfoButton
{
	min-width: none;
	border-image: url(%theme%/buttons/normal_empty_listview_button.png);
}

#InfoButton:hover
{
	border-image: url(%theme%/buttons/hover_empty_listview_button.png);
}
#InfoButton:pressed
{
	border-image: url(%theme%/buttons/pressed_empty_listview_button.png);
}