QLabel,
QDialog,
QTreeWidget,
QWidget {
	font-family: Tahoma, Microsoft Sans Serif, Arial, Verdana;
}

QSpinBox {
	border: 1px solid #6F4F2E;
}

CEmoticons {
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 6px;
}

CLobby {
	background-image: url(%theme%/tableview/bg.png);
	background-repeat: no-repeat;
	background-position: top left;
}

CLobby QTreeView {
	background-color: rgba(0, 0, 0, 0.904);
	color: white;
	border: none;
}

CLobby QHeaderView::section {
	margin-left: 3px;
}

COptions COptions QTreeView {
	color: #000000;
	background-color: #D7C8A1;
	border: none;
	border-bottom: 8px solid qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(0, 0, 0), stop: 0.5 rgb(234, 219, 178));
}

CLobby QSplitter {
	padding: 0px;
	margin: 0px;
}

CULSplitter#splitter_2:handle,
CGameRoom QSplitter::handle {
	background: #6F4F2E;
	border: none;
	min-width: 5px;
}

CULSplitter#splitter_2:handle:pressed,
CGameRoom QSplitter::handle:pressed {
	background: #ffffff;
}

CVSplitter#splitter:handle {
	background: #6F4F2E;
	min-height: 5px;
	border: none;
}

CVSplitter#splitter:handle:pressed {
	background: #ffffff;
	border: none;
}

CGameRoom QSplitter::handle {
	margin: 0px 5px 0px 0px;
}


CLobby CChatText {
	background-image: url(%theme%/voobly.png);
	background-color: #EADBB2;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

CLobby CChatArea #LobbyChatTextGroup,
CGameRoom CChatArea #LobbyChatTextGroup {
	border-left: 2px solid black;
	background-color: white;
	margin: 0px;

	min-height: 31px;
	max-height: 31px;
}

CChatArea #input {
	background: transparent;
	min-height: 28px;
	font-weight: bold;
	font-size: 13px;
	border: none;
	padding: 0px;
}

CChatArea #input:focus {
	border-bottom: 2px solid #6F4F2E;
}

CLobby CChatArea #send,
CGameRoom CChatArea #send {
	min-width: 80px;
	max-width: 80px;
	min-height: 30px;
	max-height: 30px;
	border: none;
	background: transparent;
	background-image: url(%theme%/normal_send.png);
	color: #ffffff;
	font-weight: bold;
}

CChatArea #send:hover {
	color: #ffffff;
	background-image: url(%theme%/hover_send.png);
}

CChatArea #send:pressed {
	text-decoration: underline;
}

CChatArea #send:disabled {
	color: #999999;
	background-image: url(%theme%/disabled_send.png);
}

COptions QPushButton {
	margin: 0px;
	padding: 0px;
	border-top: 2px solid #E4B479;
	border-right: 2px solid #E4B479;
	border-left: 2px solid #6F4F2E;
	border-bottom: 2px solid #6F4F2E;
	background: #B88851;
	font-family: Tahoma;
	font-weight: bold;
}

COptions QPushButton:hover {
	color: white;
}

COptions QPushButton:pressed {
	border-left: 2px solid #E4B479;
	border-bottom: 2px solid #E4B479;
	border-top: 2px solid #6F4F2E;
	border-right: 2px solid #6F4F2E;
}

QDialog#GameResume QLabel#label {
	color: black;
	border: none;
}

QPushButton#pushResume {

	min-height: 25px;
	max-height: 25px;

	min-width: 120px;
	max-width: 120px;

	border-image: url(%theme%/buttons/normal_options_button_m.png);
	padding: 0px;
	margin: 0px;
}

QPushButton#pushResume:hover {
	border-image: url(%theme%/buttons/hover_options_button_m.png);
}

QPushButton#pushResume:pressed {
	border-image: url(%theme%/buttons/pressed_options_button_m.png);
}

QPushButton#fontColor {
	min-height: 25px;
	max-height: 25px;

	background-color: white;

	border-image: url(none);

	border: 1px solid rgb(230, 230, 230);
	padding: 0px;
	margin: 0px;
}


QPushButton#pushSettings {
	min-height: 25px;
	max-height: 25px;

	min-width: 80px;
	max-width: 80px;

	background: transparent;
	background-image: url(%theme%/buttons/normal_settings_button.png);
}

QPushButton#pushSettings:hover {
	color: #ffffff;
	background-image: url(%theme%/buttons/hover_settings_button.png);
}

QPushButton#pushSettings:pressed {
	text-decoration: underline;
}

QPushButton#pushLaunch {
	min-height: 25px;
	max-height: 25px;

	min-width: 80px;
	max-width: 80px;

	background: transparent;
	background-image: url(%theme%/buttons/normal_launch_button.png);

	font-weight: bold;
}

QPushButton#pushLaunch:hover {
	color: #ffffff;
	background-image: url(%theme%/buttons/hover_launch_button.png);
}

QPushButton#pushLaunch:pressed {
	text-decoration: underline;
}

QPushButton#pushLaunch:disabled {
	background-image: url(%theme%/buttons/disabled_launch_button.png);
	color: #666666;
}

QPushButton:disabled {
	min-width: 85px;
	max-width: 85px;
	background-color: #0f9aea;
	color: #8ab3d5;
}


#smileyButton {
	border: none;
	min-width: 0px;
	min-height: 0px;
	max-height: none;

	image: url(%theme%/buttons/smile.png);
	background: transparent;
	border: 1px solid #000000;
	border-radius: 0px;

	margin: 0px;
}

CLobby #smileyButton,
CGameRoom #smileyButton {
	width: 35px;
	background-color: transparent;
	border: none;
}

#smileyButton:hover,
#smileyButton:pressed {
	image: url(%theme%/buttons/smile_hover.png);
}

CChatArea QLineEdit {
	padding: 1px;
}

CGameSettings {
	background-image: url(%theme%/voobly.png);
	background-color: #EADBB2;
	background-repeat: no-repeat;
	background-position: center;
}

CGameSettings QPushButton {
	color: black;
	background: #B88851;
	font-family: Tahoma;
	font-size: 12px;
	border-top: 2px solid #E4B479;
	border-right: 2px solid #E4B479;
	border-left: 2px solid #6F4F2E;
	border-bottom: 2px solid #6F4F2E;
	font-weight: bold;
}

CGameSettings QPushButton:hover {
	color: white;
}

CGameSettings QPushButton:pressed {
	border-left: 2px solid #E4B479;
	border-bottom: 2px solid #E4B479;
	border-top: 2px solid #6F4F2E;
	border-right: 2px solid #6F4F2E;
}

CGameSettings QPushButton:disabled {
	background-color: #888888;
	border: 1px solid black;
	border-image: none;
}

CGameSettings QTextEdit#description,
CGameSettings QLineEdit {
	font-weight: bold;
	border: none;
	border-bottom: 1px solid #6F4F2E;
	padding-bottom: 2px;
}

CGameSettings QStackedWidget#stackedWidget {
	background-color: transparent;
	padding: 3px;
}

CGameSettings QGroupBox {
	font-size: 14px;
	padding-top: 12px;
	padding-left: 10px;
	border: none;
}

CGameSettings QTextEdit#description:focus{
	border-bottom: 2px solid #6F4F2E;
}

CGameSettings QLineEdit:focus {
	border-bottom: 2px solid #6F4F2E;
}

CGameSettings QLabel {
	border: none;
}

CGameInfo {
	border-top: 4px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 4px solid #000000;
	padding: 6px;
	background-color: #D7C8A1;
}

CGameInfo QLabel {
	background: transparent;
}

CGameRoom {
	background: transparent;
	background-color: qlineargradient(x1: 1, y1: 1, x2: 0, y2: 0, stop: 0 #EADBB2, stop: 1 #867d65);
	border: none;
	qproperty-GameModLinkColor: blue;
}

CGameRoom QTreeWidget {
	border-top: 8px solid qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0, stop: 0 rgb(0, 0, 0), stop: 0.5 rgb(234, 219, 178));
	border-bottom: 8px solid qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(0, 0, 0), stop: 0.5 rgb(234, 219, 178));
	background-color: rgba(0, 0, 0, 0.904);
	color: white;
	border: none;
}

COptions QTreeWidget::item {
	color: #000000;
	background-color: #D7C8A1;
}

CGameRoom QHeaderView {
	border: none;
}

CGameRoom QHeaderView::section {
	border: none;
	border-top: 1px solid black;
}

CGameRoom QHeaderView::section:hover {
	background-color: #b1a584;
}

CGameRoom QHeaderView:hover {
	background-color: #b1a584;
}

CGameRoom QLabel {
	border: none;
	color: black;
}

CGameRoom QWidget#layoutWidget {
	background-color: #EADBB2;
	border: none;
	min-width: 220px;
	min-height: 250px;
}

CGameRoom CChatText {
	border: none;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	background: rgb(255, 255, 255);
	background-image: url(%theme%/knight.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

CLobby {
	background-image: url(%theme%/de_civs.png);
	background-color: #EADBB2;
	background-repeat: no-repeat;
	background-position: center;
}

CListView {
	background-color: transparent;
	alternate-background-color: rgba(160, 150, 122, 0.26);
	font-size: 12px;
	font-family: Tahoma;
	font-weight: bold;
	border: none;
}

CListView::item:selected {
	background-color: #c4b795;
	border-top: 2px solid #6F4F2E;
	border-bottom: 2px solid #6F4F2E;
	color: rgb(109, 0, 0);
}

CListView::item:pressed {
	background-color: #796a45;
}

#tableView {

	background-color: transparent;

	background-image: url(%theme%/Voobly.png);


	border: none;

	padding: 0px 0px 0px 3px;
}


#TableViewWidget {

	background-color: transparent;
}


#m_TableItemBackground {
	border: none;
	background-image: url(%theme%/tableview/table.png);
	background-repeat: no-repeat;
}


#FlashGroup {
	border: 0px solid #5B5B5B;
	padding: 0px;
	margin: 0px;
}

#FlashGroupInner {
	border: 1px solid #5B5B5B;
	padding: 0px;
	margin: 0px;
	background-color: #5B5B5B;
}

/*
CUserList
{
	qproperty-LookingColor: rgb(0,0,0);
	qproperty-WaitingColor: rgb(110,110,110);
	qproperty-PlayingColor: rgb(200,200,200);

	qproperty-ModeratorColor: #c52020;

	qproperty-PremiumColor: #e6de00;

	qproperty-ModeratorFontWeight: normal;
	qproperty-PremiumFontWeight: normal;

	qproperty-ParentWeight: 504;
	
	font-size: 13px;
}
*/

CUserList {
	qproperty-LookingColor: rgb(250, 250, 250);
	qproperty-WaitingColor: rgb(175, 175, 175);
	qproperty-PlayingColor: rgb(100, 100, 100);
	qproperty-ModeratorColor: #f48d8d;
	qproperty-PremiumColor: #e2d434;
	qproperty-ModeratorFontWeight: normal;
	qproperty-PremiumFontWeight: normal;
	qproperty-ParentWeight: 504;
	font-size: 13px;
}

QMessageBox {
	background-color: #D7C8A1;
}

QMessageBox QLabel {
	background-color: transparent;
	border: none;
}

QMessageBox QPushButton {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

CChatArea QTabWidget::pane {
	/* The tab widget frame */
	border: 0px;
	/* no border so when the tabbar is hidden there is no trace of it */
	/* border-bottom: 2px solid #C2C7CB;*/
}

CChatArea QTabWidget::tab-bar {
	/*left: 5px;
	 move to the right by 5px */
	 background-color: #E4B479;
}

/* Style the tab using the tab sub-control. Note that
     it reads QTabBar _not_ QTabWidget */
CChatArea QTabBar::tab {
	background: #6F4F2E;
	color: white;
	/* same as the pane color */
	min-width: 8ex;
	text-align: center;
	margin-bottom: 2px;
	height: 22px;
	width: 78px;
}

CChatArea QTabBar::tab:selected,
QTabBar::tab:hover {
	background: white;
	border-top: 3px solid #6F4F2E;
	color: black;
	font-weight: bold;
}

CChatArea QTabBar::tab: !selected {
	margin-top: 0px;
	/* make non-selected tabs look smaller */
}