/* Set a list of fonts */
QLabel,
QDialog,
QTreeWidget,
CMessenger,
CChatDialog,
QWidget {
	font-family: Tahoma, Microsoft Sans Serif, Arial, Verdana;
}
/* ------------------------------------------------------- */

/* Log-in window sizing */
CMessenger {
	min-height: 500px;
	min-width: 300px;
	max-width: 300px;
	max-height: 500px;
}
/*--------------------- */

/* Client loggging text */
CMessenger CSplash #status2Center {
	font-family: Arial;
	font-size: 12px;
	padding: 6px;
	padding-bottom: 12px;
}
/* ----------------------------- */

/* After login client header */
CMessenger #headerGroup {
	background-color: #cfc29d;
	max-height: 70px;
	border: none;
	border-top: 2px solid darkred;
	border-bottom: 2px solid darkred;
}
/* -------------------------- */

/* Textbox in client header after login */
CMessenger #statusGroup {
	background-color: #c7ba96;
	min-width: 235px;
	border: none;
	qproperty-alignment: AlignCenter;
}
/* ------------------------------- */

/* Client thumbnail */
CMessenger #headerImage {
	padding: 8px;
	border: none;
	width: 50px;
	height: 50px;
}
/* ------------------- */

/* User name in the client */
CMessenger #headerName {
	font-size: 14px;
	color: rgb(77, 0, 0);
	font-family: Tahoma;
	font-weight: bold;
	qproperty-alignment: AlignCenter;
}
CMessenger #headerName:hover {
	color: darkred;
}
/* ------------------------------- */

/* 'My Status' text */
CMessenger #myStatus {
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	qproperty-alignment: AlignCenter;
}
/* ------------------------------- */

/* Privat chat window */
CChatDialog {
	background-image: url(%theme%/voobly.png);
	background-color: #EADBB2;
	background-repeat: no-repeat;
	background-position: center;
}
/* ---------------------------------------- */

/* Privat chat history background */
CChatDialog QWidget#layoutWidget {
	border: none;
	border: 1px solid black;
	background: transparent;
}
/* ---------------------------- */
 
/* Privat chat history text */
CChatDialog CChatText {
	border: none;
	min-height: 250px;
	min-width: 500px;
	background: rgba(255, 255, 255, 0.4);
}
/* ---------------------- */

/* Privat chat horizontal spliter */
CChatDialog QSplitter::handle {
	background: #6F4F2E;
	max-height: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}
/* ------------------------------- */

/* Privat chat options */
CChatDialog #OptionGroupBox {
	background-color: #d4c69f;
	border: none;
}
/* -------------------------- */

/* Privat chat input group box */
CChatDialog #EditGroupBox {
	background-color: #e5d6ad;
}
/* -------------------------- */

/* Privat chat input box */
CChatDialog QPlainTextEdit {
	max-height: 35px;
	font-size: 12px;
	border: none;
	border-bottom: 2px solid #6F4F2E;
}
/* --------------------------------- */

/* Privat chat send button */
CChatDialog #send {
	min-width: 80px;
	max-width: 80px;
	min-height: 30px;
	max-height: 30px;
	font-size: 10px;
	font-weight: bold;
	background-color: transparent;
	color: white;
	border: none;
	background-image: url(%theme%/normal_send.png);
}
CChatDialog #send:hover {
	background-image: url(%theme%/hover_send.png);
}
CChatDialog #send:pressed {
	text-decoration: underline;
}
CChatDialog #send:disabled {
	color: black;
	background-image: url(%theme%/disabled_send.png);
}
/* --------------------------------- */

/* Privat chat status icon */
CChatDialog #headerImage {
	background: white;
	margin: 10px 0px 0px 10px;
}
/* ------------------------ */

/* Privat chat reciever text */
CChatDialog #headerName {
	background: transparent;
	margin: 8px 0px 0px 3px;
	font-size: 13px;
	font-weight: bold;
	border: none;
}
CChatDialog #headerName:hover {
	color: #630000;
}
/* ------------------------- */

/* Privat chat option buttons */
#OptionGroupBox QPushButton {
	padding: 2px;
	margin-right: 2px;
	height: 25px;
	border: 0px;
	background-color: rgba(0, 0, 0, 0.05);
}
#OptionGroupBox QPushButton:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
#OptionGroupBox QPushButton:pressed {
	background-color: rgba(0, 0, 0, 0.15);
}
/* -------------------------------------- */

/* Privat chat font button */
CChatDialog #pushFont {
	width: 36px;
	background-image: url(%theme%/buttons/chatfont.png);
}
CChatDialog #pushFont:hover {
	background-image: url(%theme%/buttons/chatfont_hover.png);
}
/* -------------------------------------------------------- */

/* Privat chat nudge button */
CChatDialog #pushNudge {
	width: 36px;
	background-image: url(%theme%/buttons/chatnudge.png);
}
CChatDialog #pushNudge:hover {
	background-image: url(%theme%/buttons/chatnudge_hover.png);
}
/* --------------------------------------------------------- */

/* Privat chat nudge button */
CChatDialog #pushEmoticons {
	width: 36px;
	background-image: url(%theme%/buttons/smile.png);
}
CChatDialog #pushEmoticons:hover {
	background-image: url(%theme%/buttons/smile_hover.png);
}
/* ----------------------------------------------------- */

/* User list in the messenger */
CMessenger #userList {
	font-size: 12px;
	font-weight: bold;
	background: #EADBB2;
	background-image: url(%theme%/voobly.png);
	background-repeat: no-repeat;
	background-position: center;
}
/* ---------------------------------------- */

CMessenger CUserList::item:hover {
	background: #e9b423;
}

CMessenger CUserList::branch:selected {
	background: #c0941a;
}

CMessenger CUserList::item:selected {
	color: darkred;
	background: #ecc865;
}

CUserList {
	qproperty-OnlineColor: black;
	qproperty-OnlineFontStyle: bold;
	qproperty-OfflineColor: rgba(0, 0, 0, 0.5);
	qproperty-ModeratorColor: #b60000;
	qproperty-PremiumColor: #be8200;
	qproperty-ModeratorFontWeight: normal;
	qproperty-PremiumFontWeight: normal;
}

CLobbyBrowserList::item:hover,
CLobbyBrowserList::branch:selected,
CLobbyBrowserList::item:selected {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(100, 100, 100), stop: 1 rgb(110, 110, 110));
	color: white;
}

CLobbyBrowserList {
	qproperty-OnlineColor: black;
	qproperty-OfflineColor: rgb(150, 150, 150);

	qproperty-ModeratorColor: #ea0000;

	qproperty-PremiumColor: #f3a600;
	qproperty-ModeratorFontWeight: normal;
	qproperty-PremiumFontWeight: normal;

	qproperty-ParentWeight: 504;
	font-size: 13px;

	color: black;
	font-size: 13px;
	background-image: url(none);
	border-radius: 0px;
	border: none;
}

CLobbyBrowser {
	background: rgb(240, 240, 240);
	color: black;
}

CLobbyBrowser QLabel {
	border: 0px solid black;
	color: black;
}

/* No clue what these for */
/* ------------------------------------ */
QDialog#Options QWidget#layoutWidget {
	background-color: transparent;
	background-image: url(none);
}
CMessenger CSplash #header {
	background-color: rgb(173, 173, 173)
}
CMessenger CSplash #footer {
	background-color: rgb(173, 173, 173)
}
CMessenger CSplash #status1Center {
	font-family: Arial;
	font-size: 12px;
	padding: 6px;
	padding-bottom: 14px;
}
CMessenger #searchGroup {
	border: 1px solid #254d5c;
	margin: 3px;
	background: rgb(139, 12, 12);
	padding: 0px;

}
CMessenger #searchEdit {
	margin-left: 3px;
	border: 0px;
	padding: 3px;
}
CMessenger #searchButton {
	padding: 0px;
	border-radius: 0px;
	color: white;
	background: #567dbc;
	max-width: 30px;
	min-height: 20px;
	border: 1px solid #567dbc;
	font-family: tahoma;
	font-size: 13px;
}
/* ------------------------------------ */