QLabel,
QDialog,
QTreeWidget,
CMessenger,
CChatDialog,
QWidget {
	font-family: Tahoma, Microsoft Sans Serif, Arial, Verdana;
}

QDialog#Options QWidget#layoutWidget {
	background-color: transparent;
	background-image: url(none);
}

CMessenger CSplash #header {
	/*background-color: rgb(173, 173, 173);*/
}

CMessenger CSplash #footer {
	/*background-color: rgb(173, 173, 173);*/
}

CMessenger CSplash #status1Center {
	font-family: Arial;
	font-size: 12px;
	padding: 6px;
	padding-bottom: 14px;
}

CMessenger CSplash #status2Center {
	font-family: Arial;
	font-size: 12px;
	padding: 6px;
	padding-bottom: 12px;
}

CMessenger {
	min-height: 500px;
	min-width: 300px;
	max-width: 300px;
	max-height: 500px;
}

CMessenger #headerGroup {
	background-color: #D7C8A1;
	color: black;
	max-height: 70px;
}

CMessenger #statusGroup {
	border: 0;
}

CMessenger #searchGroup {
	border: 1px solid #254d5c;
	margin: 3px;
	background: white;
	padding: 0px;

}

CMessenger #searchEdit {
	margin-left: 3px;
	border: 0px;
	padding: 3px;

}

CMessenger #searchButton {

	padding: 0px;
	border-radius: 0px;

	color: white;
	background: #567dbc;

	max-width: 30px;
	min-height: 20px;

	border: 1px solid #567dbc;

	font-family: tahoma;
	font-size: 13px;

}

CMessenger #headerImage {
	margin: 0px;
	padding: 0px 8px;
	border: none;
	width: 50px;
	height: 50px;
	background-color: transparent;
	background-image: url(%theme%/im/photoframe.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 10px;
	margin-left: 5px;
}

CMessenger #headerName {
	font-size: 14px;
	color: black;
	font-family: Tahoma;
	font-weight: bold;
}

CMessenger #headerName:hover {
	color: rgb(0, 0, 0, 0.5);
}

CMessenger #myStatus {
	font-size: 10px;
	color: black;
	font-family: Tahoma;
	font-weight: bold;
	qproperty-alignment: AlignCenter;
}

CChatDialog {
	background-image: url(%theme%/voobly.png);
	background-color: #EADBB2;
	background-repeat: no-repeat;
	background-position: center;
}


CChatDialog QWidget#layoutWidget {
	border: none;
	border-top: 2px solid #6F4F2E;
	background: transparent;
}


CChatDialog CChatText {
	border: none;
	background: rgba(255, 255, 255, 0.671);
}

CChatDialog QSplitter::handle {
	background: #6F4F2E;
	height: 3px;
}

CChatDialog #OptionGroupBox {
	background-color: rgb(240, 240, 240);

	border: 1px solid rgb(250, 250, 250);

	border-bottom: 1px solid rgb(220, 220, 220);

	padding: 0px;
	margin: 3px 1px 0px;
}

CChatDialog #EditGroupBox {
	border: none;
	margin: 0px 1px;
}

CChatDialog QPlainTextEdit {
	max-height: 30;
	font-size: 12px;
	border: none;
	border-bottom: 2px solid #6F4F2E;
}

CChatDialog #send {
	min-width: 80px;
	max-width: 80px;
	min-height: 30px;
	max-height: 30px;
	border: none;
	background: transparent;
	background-image: url(%theme%/normal_send.png);
	color: #ffffff;
	font-weight: bold;
}

CChatDialog #send:hover {
	color: #ffffff;
	background-image: url(%theme%/hover_send.png);
}

CChatDialog #send:pressed {
	text-decoration: underline;
}

CChatDialog #send:disabled {
	color: #999999;
	background-image: url(%theme%/disabled_send.png);
}

CChatDialog #headerImage {
	background: transparent;
	margin: 8px 0px 0px 10px;
	padding: 0px 0px 0px 5px;
}

CChatDialog #headerName {
	background: transparent;
	margin: 8px 0px 0px 3px;
	font-size: 13px;
	font-weight: bold;
	border: none;
}

CChatDialog #headerName:hover {
	color: darkred;
}

CChatDialog #OptionGroupBox {
	border: none;
	background: transparent;
}


#OptionGroupBox QPushButton {
	padding: 0px;
	border-radius: 0px;
	margin: 2px;
	margin-bottom: 2px;
	height: 25px;

	border: 0px;

	background-color: transparent;

	background-repeat: no-repeat;
	background-position: center center;
}

CChatDialog #pushFont {
	width: 35px;

	background-image: url(%theme%/buttons/chatfont.png);
}

CChatDialog #pushFont:hover {
	width: 35px;
	background-image: url(%theme%/buttons/chatfont_hover.png);
}


CChatDialog #pushNudge {
	width: 35px;
	background-image: url(%theme%/buttons/chatnudge.png);
}

CChatDialog #pushNudge:hover {
	background-image: url(%theme%/buttons/chatnudge_hover.png);
}

CChatDialog #pushEmoticons {
	width: 35px;
	background-image: url(%theme%/buttons/smile.png);
}

CChatDialog #pushEmoticons:hover {
	width: 35px;
	background-image: url(%theme%/buttons/smile_hover.png);
}

CMessenger #userList {
	font-size: 12px;
	font-weight: bold;
	background: #EADBB2;
	background-image: url(%theme%/voobly.png);
	background-repeat: no-repeat;
	background-position: center;
}

CMessenger CUserList::item:hover {
	background: #e9b423;
}

CMessenger CUserList::branch:selected {
	background: #ecc865;
}

CMessenger CUserList::item:selected {
	background: #ecc865;
}

CUserList {
	qproperty-OnlineColor: black;
	qproperty-OnlineFontStyle: bold;
	qproperty-OfflineColor: rgba(0, 0, 0, 0.5);
	qproperty-ModeratorColor: #b60000;
	qproperty-PremiumColor: #be8200;
	qproperty-ModeratorFontWeight: normal;
	qproperty-PremiumFontWeight: normal;
}

CLobbyBrowserList::item:hover,
CLobbyBrowserList::branch:selected,
CLobbyBrowserList::item:selected {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(100, 100, 100), stop: 1 rgb(110, 110, 110));
	color: white;
}

CLobbyBrowserList {
	qproperty-OnlineColor: black;
	qproperty-OfflineColor: rgb(150, 150, 150);

	qproperty-ModeratorColor: #ea0000;

	qproperty-PremiumColor: #f3a600;
	qproperty-ModeratorFontWeight: normal;
	qproperty-PremiumFontWeight: normal;

	qproperty-ParentWeight: 504;
	font-size: 13px;

	color: black;
	font-size: 13px;
	background-image: url(none);
	border-radius: 0px;
	border: none;
}

CLobbyBrowser {
	background: rgb(240, 240, 240);
	color: black;
}

CLobbyBrowser QLabel {
	border: 0px solid black;
	color: black;
}