QWidget {
	font-family: Tahoma, Microsoft Sans Serif, Arial, Verdana;
}
QLabel {
	background-color: #EADBB2;
}
QTreeView {
	background-color: #EADBB2;
	border: none;
}
QPushButton {
	min-height: 23px;
	max-height: 23px;
	min-width: 120px;
	max-width: 120px;
	margin: 0px;
	padding: 0px;
	border-top: 2px solid #E4B479;
	border-right: 2px solid #E4B479;
	border-left: 2px solid #6F4F2E;
	border-bottom: 2px solid #6F4F2E;
	background: #B88851;
	font-family: Tahoma;
	font-weight: bold;
}
QPushButton:hover {
	color: white;
}
QPushButton:pressed {
	border-left: 2px solid #E4B479;
	border-bottom: 2px solid #E4B479;
	border-top: 2px solid #6F4F2E;
	border-right: 2px solid #6F4F2E;
}
#Options {
	min-width: 600px;
	max-width: 600px;
	min-height: 500px;
	max-height: 500px;
	background-image: url(%theme%/voobly.png);
	background-color: #eadbb2;
	background-repeat: no-repeat;
	background-position: center;
}
#Options QLabel {
	margin-top: 5px;
	margin-bottom: 5px;
}
#Options QLineEdit {
	min-height: 20px;
	font-weight: bold;
	background-color: rgb(255, 255, 255);
	border: none;
	border-bottom: 1px solid #6F4F2E;
	qproperty-alignment: AlignCenter;
}
#Options QLineEdit:hover {
	background-color: aliceblue;
}

#Options QLineEdit:focus {
	border: 1px solid #6F4F2E;
}
#Options QLineEdit:disabled {
	background-color: rgb(209, 209, 209);
	border: none;
}
#Options QTextEdit {
	background: transparent;
	font-family: Tahoma;
	font-weight: bold;
	border-top: 2px solid #895932;
	border-right: 2px solid #895932;
	border-left: 2px solid #E4B479;
	border-bottom: 2px solid #E4B479;
}
#Options QComboBox {
	min-height: 15;
	font-family: Tahoma;
	font-weight: bold;
	background: #B88851;
	border-top: 2px solid #E4B479;
	border-right: 2px solid #E4B479;
	border-left: 2px solid #6F4F2E;
	border-bottom: 2px solid #6F4F2E;
	border-radius: 0%;
}
#Options QComboBox QAbstractItemView {
	background: #B88851;
}
#Options QComboBox:hover {
	color: white;
}
#Options QComboBox:selected {
	border-top: 2px solid #E4B479;
	border-right: 2px solid #E4B479;
	border-left: 2px solid #6F4F2E;
	border-bottom: 2px solid #6F4F2E;
}
#Options QStackedWidget#stackedWidget {
	background-color: transparent;
}
#Options QGroupBox {
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	padding-top: 12px;
	padding-left: 10px;
	border: none;
}
#Options QGroupBox#groupBox_6, #Options QGroupBox#groupBox_7, #Options QGroupBox#groupBox_8, #Options QGroupBox#groupBox_9, #Options QGroupBox#groupBox_10, #Options QGroupBox#groupBox_11, #Options QGroupBox#groupBox_12, #Options QGroupBox#groupBox_17, #Options QGroupBox#groupBox_19, #Options QGroupBox#groupBox_20 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}
#fontColor {
	min-height: 25px;
	max-height: 25px;
	min-width: 160px;
	max-width: 160px;
	padding: 0px;
	margin: 0px;
	background: url(%theme%/normal.png);
	border-top: 2px solid #E4B479;
	border-right: 2px solid #E4B479;
	border-left: 2px solid #6F4F2E;
	border-bottom: 2px solid #6F4F2E;
}
#fontColor:hover {
	color: white;
}
#fontColor:pressed {
	border-left: 2px solid #E4B479;
	border-bottom: 2px solid #E4B479;
	border-top: 2px solid #6F4F2E;
	border-right: 2px solid #6F4F2E;
}
QColorDialog {
	background-image: url(%theme%/voobly.png);
	background-color: #eadbb2;
	background-repeat: no-repeat;
	background-position: center;
}
QColorDialog QLabel {
	background-color: transparent;
	color: #8b0000;
	font-weight: bold;
}
QColorDialog QPushButton {
	min-width: 140px;
	max-width: 140px;
}
QListWidget {
	background-color: #d7c8a1;
	border: none;
	border-bottom: 8px solid qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(0, 0, 0), stop: 0.5 rgb(234, 219, 178));
	border-right: 8px solid qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 rgb(0, 0, 0), stop: 0.5 rgb(234, 219, 178));
}
QListWidget::item {
	color: #000000;
	padding: 5px;
}
QListWidget::item:hover {
	background: #e0a663;
}
QListWidget::item:selected {
	background: #B88851;
	border-top: 2px solid #E4B479;
	border-right: 2px solid #E4B479;
	border-left: 2px solid #6F4F2E;
	border-bottom: 2px solid #6F4F2E;
}
QMenuBar {
	min-height: 24px;
	background-color: #EADBB2;
	border: none;
	font-weight: bold;
	font-size: 11px;
}
QMenuBar::item {
	padding: 0px 5px;
	margin: 2px 0px 1px 0px;
	border: none;
	color: black;
}
QMenuBar::item:selected {
	margin: 2px 0px 1px 0px;
	background-color: #ffeec1;
	border-bottom: 1px solid #000000;
}
QMenu {
	background: #D7C8A1;
	background-repeat: repeat-y;
	background-position: left;
	margin: 0px;
	border: 1px solid rgb(0, 0, 0);
}
QMenu::item {
	padding: 3px 10px 3px 32px;
	min-width: 100px;
	min-height: 14px;
	font-family: Tahoma;
}
QMenu#statusMenu::item {
	padding: 3px 10px 3px 10px;
}
QMenu::item:default {
	font-weight: bold;
}

QMenu::item:disabled {
	color: grey;
}

QMenu::item:selected {
	background: #e0a663;
}

QMenu::separator {
	margin-top: 2px;
	margin-bottom: 2px;
	height: 1px;
	background-color: #000000;
}

QMenu::indicator {
	width: 20px;
	height: 20px;
	margin-left: 1px;
	margin-right: -21px;
}

QMenu::indicator:checked {
	border-image: url(%theme%/buttons/normal_cb_border.png);
	background-image: url(%theme%/buttons/normal_cb_check.png);
	background-position: center center;
	width: 20px;
	height: 20px;
	margin-left: 1px;
}

QMenu::icon {
	min-width: 20px;
	min-height: 20px;
}

CLobby QMenuBar {
	border: none;
}

QToolBar {
	min-height: 40px;
	background-image: url(%theme%/lobby/tool_bg.png);
	background-repeat: repeat-x;
}

QToolBar::separator {
	image: none;
}

QToolBar::handle {
	padding: 0px 3px;
	image: url(%theme%/lobby/tool_grab.png);
	image-position: left;
}

QToolButton {
	max-height: 40px;
	margin: 0px;
	padding-right: 2px;
	text-align: middle;
	border: none;
	font-size: 12px;
	color: rgb(255, 255, 255);
}

QToolButton:hover {
	border-bottom: 2px solid white;
}

QToolButton:pressed {
	color: yellow;
}

QToolButton:disabled {
	color: ;
}

QHeaderView {
	min-height: 25px;
	background-color: #beb18e;
	border: none;
}

QHeaderView::section {
	background-color: transparent;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 11px;
	text-decoration: underline;
}

QHeaderView::section:hover {
	background-color: #b1a584;
}

QHeaderView:hover {
	background-color: #b1a584;
}

CLobby QHeaderView {
	border: none;
}

CLobby QHeaderView::section {
	border: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

COptions QHeaderView,
CGameInfo QHeaderView {
}

COptions QTreeWidget {
	background-color: #D7C8A1;
	border: none;
	border-bottom: 8px solid qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(0, 0, 0), stop: 0.5 rgb(234, 219, 178));
}

COptions QTreeWidget::item {
	height: 25px;
	background-color: #D7C8A1;
}

COptions QTreeWidget::item:hover,
COptions QTreeWidget::branch:hover {
	background-color: #eba45c;
}

CGameInfo QTreeWidget {
	/*min-height: 194px;*/
}

COptions QTreeWidget::item:selected {
	background-color: #eba45c;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	color: #000000;
}

COptions QTreeWidget::branch:selected {
	background-color: #eba45c;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

CGameRoom QLabel#header {
	background-image: url(%theme%/game/default.png);
	background-repeat: no-repeat;
	background-position: left middle;
	background-color: transparent;

	border: none;

	padding: 0px;

	min-height: 30;
	max-height: 30;
}

#fontColor {
	padding: 0px;
	border-radius: 0px;

	/*background-color: rgb(212,225,245);*/
	/*border: 1px solid #8f9db4;*/

	border: 1px solid black;
}

/* Player info popup */
CUserTipLabel {

	background-color: transparent;
	border-image: url(%theme%/lobby/p_bg.png);

	color: white;
	opacity: 235;
	padding: 6px;
}

#CUserTipLabelImage {
	margin: 0px;
	padding: 8px 8px;
	border: none;

	background-color: transparent;
	background-image: url(%theme%/im/photoframe.png);
	background-repeat: no-repeat;
	background-position: center center;

}

QMessageBox {
	background-image: url(%theme%/voobly.png);
	background-color: #EADBB2;
	background-repeat: no-repeat;
	background-position: center;
	font-weight: bold;
}

/* Alert Popups */
CAlert {
	background-color: rgb(230, 230, 230);

	border: 1px solid white;

	color: white;

	opacity: 220;

	padding: 6px;
}

CAlert QLabel {
	color: black;
}

/* popup menu header */
#MenuCaption {
	min-width: 200px;
	background-color: #bbaa80;
	border: none;
	border-bottom: 2px solid black;
	font-size: 12px;
	font-weight: bold;
	padding: 4px;
	color: darkred;
}

CEmoticons {
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 6px;
}

#EmoticonItemInner {
	border: none;
}

#EmoticonItemOuter {
	border: 1px solid rgb(230, 230, 230);
}

#EmoticonItemOuter:focus {
	border: 2px solid black;
}

/* Customize combo and spin boxes. */
QComboBox,
QSpinBox {
	min-height: 22px;
	border: none;
	border-top: 1px solid #6F4F2E;
	border-bottom: 1px solid #6F4F2E;
}

QComboBox:on,
QComboBox:focus,
QSpinBox:focus {
	border-top: 2px solid #6F4F2E;
	border-bottom: 2px solid #6F4F2E;
}

QComboBox::drop-down,
QSpinBox::up-button,
QSpinBox::down-button {
	background-color: transparent;
	border: none;
}

QSpinBox::up-button:hover,
QSpinBox::down-button:hover {
	margin: 1px 1px 0px 0px;
}

QSpinBox::up-button:pressed,
QSpinBox::down-button:pressed {
	margin: 0px 0px 0px 0px;
}

QSpinBox:disabled {
	color: rgb(100, 100, 100);
}

QComboBox QAbstractItemView {

	background-color: rgb(240, 240, 240);

	border: 1px solid #ffffff;
	border-radius: 3px;

	padding: 2px;
}

/* Customize check boxes. */
QCheckBox {
	font-family: Tahoma;
}

QCheckBox::indicator {
	width: 20px;
	height: 20px;
}

QCheckBox::indicator:unchecked {
	image: url(%theme%/buttons/normal_cb.png);
	border-image: url(%theme%/buttons/normal_cb_border.png);
}

QCheckBox::indicator:unchecked:hover {
	border-image: url(%theme%/buttons/normal_cb_border_hover.png);
}

QCheckBox::indicator:unchecked:pressed {
	border-image: url(%theme%/buttons/clicked_border.png);
}

QCheckBox::indicator:checked {
	image: url(%theme%/buttons/normal_cb_check.png);
	border-image: url(%theme%/buttons/normal_cb_border.png);
}

QCheckBox::indicator:checked:hover {
	border-image: url(%theme%/buttons/normal_cb_border_hover.png);
}

QCheckBox::indicator:checked:pressed {
	border-image: url(%theme%/buttons/clicked_border.png);
}

/* Customize arrows. */

*::up-arrow {
	image: url(%theme%/arrows/up_arrow.png);
	image-position: left;
	width: 10px;
	height: 10px;
}

*::up-arrow:disabled,
*::up-arrow:off {
	image: url(%theme%/arrows/up_arrow_disabled.png);
	image-position: left;
	width: 10px;
	height: 10px;
}

*::down-arrow {
	image: url(%theme%/arrows/down_arrow.png);
	image-position: left;
	width: 10px;
	height: 10px;
}

*::down-arrow:disabled,
*::down-arrow:off {
	image: url(%theme%/arrows/down_arrow_disabled.png);
	image-position: left;
	width: 10px;
	height: 10px;
}

/* Black Arrows */
COptions *::up-arrow,
CGameSettings *::up-arrow {
	image: url(%theme%/arrows/up_arrow_black.png);
	image-position: left;
	width: 10px;
	height: 10px;
}

COptions *::down-arrow,
CGameSettings *::down-arrow {
	image: url(%theme%/arrows/down_arrow_black.png);
	image-position: left;
	width: 10px;
	height: 10px;
}

/* Vertical Scrollbar */

QScrollBar:vertical {
	background: transparent;
	background-image: url(%theme%/lobby/scrollbar_background.png);
	border-left: 1px solid #E4B479;
	border-bottom: 1px solid #E4B479;
	border-right: 1px solid #6F4F2E;
	border-top: 1px solid #6F4F2E;
	width: 20px;
	margin: 20px 0px 20px 0px;
}

QScrollBar::handle:vertical {
	background-image: url(%theme%/lobby/scrollbar.png);
	border-left: 2px solid #6F4F2E;
	border-bottom: 2px solid #6F4F2E;
	border-right: 2px solid #E4B479;
	border-top: 2px solid #E4B479;
}

QScrollBar::handle:vertical:pressed {
	border-right: 1px solid #6F4F2E;
	border-top: 1px solid #6F4F2E;
	border-left: 1px solid #E4B479;
	border-bottom: 1px solid #E4B479;
}

QScrollBar::handle:vertical:hover {
	background-color: #d6a262;
}

QScrollBar::handle:vertical:pressed {
	background-color: #f0b66f;
}


QScrollBar::sub-line:vertical {
	width: 20px;
	height: 20px;
	subcontrol-position: top;
	subcontrol-origin: margin;
	background-image: url(%theme%/lobby/up_arrow.png);
}

QScrollBar::add-line:vertical {
	width: 20px;
	height: 20px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
	background-image: url(%theme%/lobby/down_arrow.png);
}

QScrollBar::up-arrow:vertical {
	width: 20px;
	height: 20px;
	image: url(%theme%/lobby/up_arrow.png);
}

QScrollBar::up-arrow:vertical:pressed {
	image: url(%theme%/lobby/up_arrow_click.png);
}

QScrollBar::down-arrow:vertical {
	width: 20px;
	height: 20px;
	image: url(%theme%/lobby/down_arrow.png);
}

QScrollBar::down-arrow:vertical:pressed {
	image: url(%theme%/lobby/down_arrow_click.png);
}


QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
	background: none;
}

/* Horizontal Scrollbar */
QScrollBar:horizontal {
	max-height: 0px;
}

CStreamOverlay {
	background-color: rgb(230, 230, 230);
	border: 1px solid white;
	color: white;
	opacity: 220;
	padding: 1px;
}

CSplash QPlainTextEdit {
	color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid #af861e;
	margin-left: auto;
	margin-bottom: 10px;
	width: 200px;
}