QWidget {
	font-family: Arial, Tahoma, Microsoft Sans Serif, Verdana;
}

#Icons {
	background-color: transparent;
}

#m_CountItem {
	font-weight: bold;
	border: 2px solid #000000;
	background: #EADBB2;
}

#gameNum {
	font-size: 14px;
	font-style: italic;
	color: darkred;
	font-weight: bold;
	background-color: transparent;
}

#m_TitleItem {
	font-weight: bold;
	background-color: transparent;
}

#m_icons {
	background-color: transparent;
}

#m_JoinButton {
	color: black;
	background-color: transparent;
	background-image: url(%theme%/tableview/main_button.png);
	background-repeat: no-repeat;
	border-image: url(none);
	border: none;
	font-size: 12px;
	font-weight: bold;
}

#m_JoinButton:hover {
	color: white;
	background-image: url(%theme%/tableview/main_button_hover.png);
}

#m_JoinButton:pressed {
	text-decoration: underline;
}

#m_JoinButton:disabled {
	background-image: url(%theme%/tableview/main_button_disabled.png);
}

#m_InfoButton {
	border-image: url(none);
	border: none;
	color: transparent;
	background-color: transparent;
	background-image: url(none);
}